@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400&family=Montserrat:wght@100;400&display=swap');

:root 
{
    --rs-bg: #1e1e1e;
    --rs-accent: #3fbb71;
    --rs-white: #FFFFFF;
}

.rs-centered{
    text-align: center;
}

body
{
    background-color: var(--rs-bg);
    overflow-x: hidden;
}

.navbar-brand img{
    width: 7rem;
}

.navbar-toggler-icon{
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba%280, 180, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>")!important;
}

.navbar-toggler{
    border: var(--bs-border-width) solid rgb(40 255 0 / 10%);
}

.navbar-collapse{
    flex-grow: 0 !important;
}


.navbar-nav .nav-link:hover::after {
    content: '';
    position: absolute;
    display: flex;
    width: 100%;
    left: 0px;
    height: 1px;
    background-color: var(--rs-accent);
  }

.navbar-nav a,.nav-link:hover{
    color: var(--rs-white);
    position: relative;
    margin: 0 0.2rem;
    font-weight: 400;
}

.navbar-nav a.rs-active{
    color: var(--rs-accent)!important;
}

.rs-section
{
    margin: 5rem 0;
    min-height: 500px;
}

.rs-section-headless{
    margin-top: -5rem;
}

.hero img{
    border-radius: 50%;
    border: 2px solid var(--rs-accent);
}

.hero i{
    color: var(--rs-white);
    font-size: 1.4rem;
    margin: 0 0.3rem
}

h1,h2,.rs-index-info p{
    font-family: 'IBM Plex Mono', monospace !important;
    color: var(--rs-white);
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 1.2rem;
}

.rs-index-info{
    display: inline-flex;
    margin: 0 auto;
    margin-top: 0.5rem;
}

.rs-index-info .entry{
    display: flex;
    margin: 0 7rem;
}

.tc-arrow{
    width: 2.5rem;
    transition: 0.1s ease-in-out;
}

.tc-arrow:hover{
    scale: 1.2;
    cursor: pointer;
}

.rs-dec-1{
    position: absolute;
    right: 0;
    width: 20rem;
    top: 70rem;
}
