:root 
{
    --rs-bg: #2d2d2d;
    --rs-accent: #3fbb71;
}

body
{

}

.rs-section
{
    background-color: var(--rs-bg);
    margin: 5rem 0;
    min-height: 500px;
}

.rs-section-headless{
    margin-top: -5rem;
}

hero
{
    position: relative;
    display: block;
}

hero #profile-pic
{    
    position: relative;
    margin: 0 auto;
    display: block;
    bottom: -25rem;
    z-index: 2;
}

logo-circle{
    position: relative;
    margin: 0 auto;
    display: block;
    top: -10rem;
    z-index: 1;
}

.circle-container {
    position: relative;
    width: 10rem; /* 500px in rems */
    height: 10rem; /* 500px in rems */
    background-color: #f0f0f0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    --rotation-angle: 0deg; /* Initial rotation angle */
    transform: rotate(var(--rotation-angle));
    margin: 0 auto;
}

.logo {
    position: absolute;
    width: 2rem; /* Adjust the size of the logos in rems */
    height: 2rem; /* Adjust the size of the logos in rems */
    transform-origin: center;
    transform: rotate(calc(-1 * var(--logo-rotation-angle))); /* Counter-rotate */
    display: inline-table !important;
}

.logo:nth-child(1) { transform: rotate(0deg) translate(40rem) rotate(0deg); }
.logo:nth-child(2) { transform: rotate(36deg) translate(40rem) rotate(-36deg); }
.logo:nth-child(3) { transform: rotate(72deg) translate(40rem) rotate(-72deg); }
.logo:nth-child(4) { transform: rotate(108deg) translate(40rem) rotate(-108deg); }
.logo:nth-child(5) { transform: rotate(144deg) translate(40rem) rotate(-144deg); }
.logo:nth-child(6) { transform: rotate(180deg) translate(40rem) rotate(-180deg); }
.logo:nth-child(7) { transform: rotate(216deg) translate(40rem) rotate(-216deg); }
.logo:nth-child(8) { transform: rotate(252deg) translate(40rem) rotate(-252deg); }
.logo:nth-child(9) { transform: rotate(288deg) translate(40rem) rotate(-288deg); }
.logo:nth-child(10) { transform: rotate(324deg) translate(40rem) rotate(-324deg); }