@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400&family=Montserrat:wght@100;400&display=swap');

:root 
{
    --rs-bg: #1e1e1e;
    --rs-accent: #3fbb71;
    --rs-white: #FFFFFF;
}

.rs-centered{
    text-align: center;
}

.rs-p-top{
    padding-top: 3rem;
}

body
{
    background-color: var(--rs-bg);
    overflow-x: hidden;
}

nav{
    background: var(--rs-bg);
}

.navbar-brand img{
    width: 7rem;
}

.navbar-toggler-icon{
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba%280, 180, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>")!important;
}

.navbar-toggler{
    border: var(--bs-border-width) solid rgb(40 255 0 / 10%);
}

.navbar-collapse{
    flex-grow: 0 !important;
}


.navbar-nav .nav-link:hover::after, .rs-active::after{
    content: '';
    position: absolute;
    display: flex;
    width: 100%;
    left: 0px;
    height: 1px;
    background-color: var(--rs-accent);
}

.navbar-nav a{
    font-size: 1.3rem;
}

.navbar-nav a,.nav-link:hover{
    color: var(--rs-white);
    position: relative;
    margin: 0 0.2rem;
    font-weight: 400;
}

.navbar-nav a.rs-active{
    color: var(--rs-accent)!important;
}

.rs-section
{
    margin: 5rem 0;
    min-height: 500px;
}

.rs-section-headless{
    margin-top: -5rem;
}

.hero img{
    border-radius: 50%;
    border: 2px solid var(--rs-accent);
}

.hero i{
    color: var(--rs-white);
    font-size: 1.4rem;
    margin: 0 0.3rem
}

h1,h2,h3,.carousel a,.rs-index-info p,.navbar-nav a{
    font-family: 'IBM Plex Mono', monospace !important;
    color: var(--rs-white);
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 1.2rem;
}

.rs-index-info{
    display: inline-flex;
    margin: 0 auto;
    margin-top: 0.5rem;
}

.rs-index-info .entry{
    display: flex;
    margin: 0 7rem;
}

.tc-arrow{
    width: 2.5rem;
    transition: 0.1s ease-in-out;
    margin: 0 1.2rem;
}

.tc-arrow:hover{
    scale: 1.2;
    cursor: pointer;
}

.rs-dec-1{
    position: absolute;
    left: -5rem;
    transform: rotate(180deg);
    width: 10vw;
    top: 80vh;
}

.rs-tech-carousel{
    display: flex;
    align-items: center;
    justify-content: center;    
   
}

.carousel{
    position: relative;
    display: inline-flex;
    overflow: hidden;
    width: 45rem;
    padding: 1rem 0 0 0;
}

.carousel img{
    width: 6rem;
    transition: all .1s ease-in-out;
    position: relative;
}

.carousel a{
    display: block;
    min-width: 6rem;
    margin: 0 1.5rem;
    position: relative;
    z-index: 1;
    text-decoration: none;
}

.carousel a p{
    text-align: center;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    display: block;
}

.carousel a:hover{
    cursor: pointer;
}
.carousel a:hover img{    
    scale: 1.2;
}

.carousel-navigation{
    margin-top: 1rem;
    font-size: 1.2rem;
    color: var(--rs-accent);
}

.carousel-navigation i{
    transition: 0.1s ease-in-out;
    margin: 0 0.3rem;
}

.carousel-navigation i:hover{
    cursor: pointer;
    transform: rotate(45deg);
}

.rs-sectioned-h{
    text-align: center;
    border-bottom: 1px solid var(--rs-accent);
    margin: 0 auto;
}

.rs-t2i-right{
    color: var(--rs-white);
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
    display: flex;
    align-items: center;
    max-width: 70vw;
    gap: 4rem;
}

.rs-t2i-right p{
    float: left;
    display: inline;
    text-align: justify;
}

.rs-t2i-right img{
    float: right;
    width: 30vw;
    max-width: 40rem;
    display: inline;
}